/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9f5ed;
  font-family: Arial, sans-serif; /* Use a fallback font */
}

/* Navbar Section */
nav {
  padding: 20px 10%;
  height: 15vh;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 5%;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* HERO Section */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}

.leftmain {
  width: 40%;
}

.leftmain h1 {
  font-size: 4rem; /* Adjusted font size */
}

.leftmain p {
  margin: 5% 0;
  font-size: 1.4rem; /* Adjusted font size */
  line-height: 1.6;
  opacity: 0.8;
}

.leftmain button {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: #3b855b;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.rightmain {
  width: 60%;
}

/* Footer Section */
footer {
  text-align: center;
  margin-top: 20px;
}

.name {
  display: inline-block;
  font-family: "Poppins", sans-serif;
}

.linkedin {
  color: #0a66c2;
}

.github {
  color: #1f1f1f;
}

/* Mobile Screen Styles */
@media (max-width: 480px) {
  nav {
    padding: 20px 2rem;
    height: 15vh;
  }
  nav ul li a {
    font-size: 12px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12vw;
  }
  .leftmain {
    width: 100%;
  }
  .leftmain h1 {
    font-size: 2.5rem; /* Adjusted font size */
    line-height: 1;
  }
  .leftmain p {
    font-size: 1rem;
    line-height: 1.5;
  }
  .big-img {
    width: 70vw;
    height: 40vh;
    background-size: cover;
  }
}
