@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}

/* navigations */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 3%;
}
.logo img {
  width: 72%;
}
.list {
  display: flex;
  list-style: none;
}
.list li {
  margin: 0 1.9rem;
  font-size: 15px;
}
.list li:hover {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.l1 {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
/* !----Menu----! */
.menu {
  display: none;
  font-size: 35px;
  margin-right: 1rem;
}
/* Group Buttons Sections */
.button-group {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}
.search-icon {
  margin: 3px 12px;
}
.btn button {
  background-color: #ffffff;
  padding: 6px 22px;
  border-radius: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(157, 152, 152);
  font-weight: 500;
}
/* Main Content */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
}
/* Left Section  */
.square {
  position: relative;
  margin-top: 18rem;
  margin-left: 9rem;
}
.square img {
  height: 38vh;
}
/* !----Boy Image----! */
.boy {
  position: absolute;
  top: 25%;
  left: 45px;
  z-index: 1;
}
.boy img {
  height: 55vh;
}
/* Glob Alignment */
.globe {
  position: absolute;
  top: 19%;
  left: 52%;
}
.globe img {
  width: 4vw;
  height: 9vh;
}

/* !----Star alignment----! */
.star {
  position: absolute;
  bottom: 6rem;
  left: 42%;
}
.star-2 {
  position: absolute;
  top: 30%;
  right: 9.5%;
}
/* !----Right Side description----! */
.hero-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17%;
}
/* !----Right Heading----! */
.hero-heading {
  font-size: 40px;
}
.hero-description {
  margin: 0 23%;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.7;
  margin-top: 1.5rem;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
/* !----Right Button Section-----! */
.btn-2 {
  margin-top: 3rem;
}
.btn-2 button {
  border-radius: 9px;
}
.btn-2 > .button-email {
  letter-spacing: 2px;
  padding: 4px 14px;
  background-color: #ffffff;
}
.btn-2 > .button-join {
  color: white;
  background-color: black;
  padding: 4px 12px;
}
.button-email:hover {
  background-color: black;
  color: #ffffff;
}
.button-join:hover {
  background-color: #ffffff;
  color: black;
}
/* !----Contact Us----! */
.contact-heading {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/* !----Social Media Section----! */
.icons {
  margin-left: 15px;
}
.icons img {
  margin: 0 9px;
}

/*!------ Footer ------! */
footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-github {
  color: #fff;
}
.fa-linkedin {
  color: #fff;
}

@media (max-width: 480px) {
  /* !---Navigation---! */
  .navbar-container {
    padding-top: 0.5rem;
  }
  /* !----Logo----! */
  .logo {
    margin-left: 1.5rem;
  }
  li {
    display: none;
  }
  /* !---Menu Button---! */
  .menu {
    display: block;
  }
  .button-group {
    display: none;
  }
  .btn button {
    display: none;
  }
  /* !----Main Section----! */
  .hero-container {
    flex-wrap: wrap;
  }

  /* !----Boy Image----! */
  .boy {
    margin-top: -3rem;
    margin-right: 2rem;
  }
  .boy img {
    width: 90%;
    height: 45vh;
  }
  /* !----square Box----! */
  .square {
    margin-right: 3rem;
    margin-top: 52%;
  }
  .square img {
    width: 60vw;
    height: 35vh;
  }
  /* !---Star & Globe---! */
  .star,
  .star-2 {
    display: none;
  }
  .globe {
    display: none;
  }
  /* !----Right Container----! */
  .hero-container-right {
    margin-top: -20%;
  }
  /* !---Right Heading---! */
  .hero-heading {
    text-align: center;
  }
  /* !----Description----! */
  .hero-description {
    font-size: 15px;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  /* !---Button---! */
  .btn-2 {
    margin-top: 1.8rem;
  }
  .contact-heading {
    margin-top: 1.3rem;
    font-size: 15px;
  }
  .icons {
    margin-top: 1.5rem;
  }
  footer{
    position: relative;
    bottom: 0;    
}
}
