/* Properties For all items */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* For Menu Bar */
.navbar-container{
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 8%;
}

.img{
    margin-right: 4%;
}

.list-item{
    list-style: none;
    align-items: flex-start;
    display: inline-block;
    padding: 10px 18px;
    color: #D1D1D1;
} 

.l1{
    color: #000;
}

.button-group{
    margin-left: 30%;
}

.nav-button1{
    background-color:#5955B3;    
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    border: none;
}


/* For Banner Container */

.banner-container{
    display: flex;
    align-items: center;
    margin-left: 8%;
}

.left-side{
    width: 40%;
}

.heading-text{
    font-size: 62px;    
    color: #3C2F60;
}
span{
    color:#5955B3;
}

.description{
    margin-top: 20px;
    color: #9a9898;
}

.nav-button{
    background-color:#5955B3;
    margin-top: 60px;
    padding: 20px 60px;
    border-radius: 10px;
    color: white;
    border: none;
}

/* Footer Section of webpage */

footer{
    text-align: center;
}

a{
    text-decoration: none;
}

.name{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

.linkedin{
    color: #0A66C2;
    
}

.github{
    color: #1f1f1f;
}

.briefcase{
    color: #3b855b;
}
